<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>BSSIDReporter.ipa</key>
	<array>
		<dict>
			<key>architectures</key>
			<array>
				<string>arm64</string>
			</array>
			<key>buildNumber</key>
			<string>1</string>
			<key>certificate</key>
			<dict>
				<key>SHA1</key>
				<string>447C7C7337B5B438431D4129A077AB9DA9087A71</string>
				<key>dateExpires</key>
				<string>15/3/2027</string>
				<key>type</key>
				<string>Cloud Managed Apple Distribution</string>
			</dict>
			<key>entitlements</key>
			<dict>
				<key>application-identifier</key>
				<string>7C63B5SDJQ.dev.baileys.bssid-reporter</string>
				<key>com.apple.developer.networking.wifi-info</key>
				<true/>
				<key>com.apple.developer.team-identifier</key>
				<string>7C63B5SDJQ</string>
				<key>get-task-allow</key>
				<false/>
			</dict>
			<key>name</key>
			<string>BSSIDReporter.app</string>
			<key>profile</key>
			<dict>
				<key>UUID</key>
				<string>d60a9ad1-f597-4338-9f3d-84d4ec07d813</string>
				<key>dateExpires</key>
				<string>15/3/2027</string>
				<key>name</key>
				<string>iOS Team Ad Hoc Provisioning Profile: dev.baileys.bssid-reporter</string>
			</dict>
			<key>team</key>
			<dict>
				<key>id</key>
				<string>7C63B5SDJQ</string>
				<key>name</key>
				<string>Bailey Butler</string>
			</dict>
			<key>versionNumber</key>
			<string>1.0</string>
		</dict>
	</array>
</dict>
</plist>
